<!DOCTYPE html>
<html>
<head>
  <title>Ryanw</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<%= render 'layouts/nav_sidebar' %>
			</div>
			<div class="col-md-9">

				<%= yield %>

			</div>
		</div>
	</div>
</body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</html>
